snippet imgsrc "image"
<img src="${1:img.jpg}" alt="${2:Description}">
endsnippet

snippet linkcss "link css sheet"
<link rel="stylesheet" type="text/css" href="${1:mystyle}.css">
endsnippet

snippet resp "meta responsiveness"
<meta name="viewport" content="width=device-width, initial-scale=1.0">
endsnippet

snippet div "div tag"
<div>$0</div>
endsnippet

snippet com "commenting"
<!--
-->
endsnippet

snippet pt "paragraph tag"
<p>$0</p>
endsnippet

snippet li "li tag"
<li>$0</li>
endsnippet
